.agent-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  border-radius: 8px;
  width: 149px;
  height: 51px;
  cursor: pointer;
}

.agent-text {
  text-align: center;
  display: flex;
  color: #15a05d;
  opacity: 1;
  font-size: 11px;
  font-weight: 500;
}

.agent-sec3-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  border-color: #15a05d;
  border-style: solid;
  border-width: 1px;
  width: 149px;
  height: 51px;
  cursor: pointer;
}
.agent-sec3-text {
}
