.ang-sec2-con-main {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.ang-sec2-con {
  display: flex;
  flex-direction: row;
  padding-inline: 1rem;
  margin-top: 2rem;
}
.ang-sec2-text-wrap {
  display: flex;
  flex-direction: column;
}
.ang-sec2-text {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.ang-sec2-img {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.ang-sec2-main-img {
  display: flex;
  flex: 1;
  height: 420px;
  max-width: 430px;
  width: 100%;
  object-fit: contain;
  -webkit-transform: rotate(1.1deg);
  -moz-transform: rotate(1.1deg);
  -ms-transform: rotate(1.1deg);
  -o-transform: rotate(1.1deg);
  transform: rotate(1.1deg);
}

.ang-sec2-text2 {
  display: flex;
  align-items: center;
  margin-inline: 0.7;
}

.empty {
  width: 50%;
}
.why-you-should-become-a-vigho-agent {
  letter-spacing: 0;
  line-height: 50px;
}

.ang-sec2-text4 {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  font-family: var(--font-family-montserrat);
  letter-spacing: 0px;
  color: #111111;
  line-height: 21px;
  opacity: 0.6;
}

.ang-sec2-text-con {
  display: flex;
}
.ang-sec2-col {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;
}

.ang-sec2-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.ang-min-text-con {
  margin: 10px;
}
.ang-min-img {
}

.ang-min-text1 {
  font-family: var(--font-family-montserrat);
  color: #111111;
  line-height: 20px;
  font-size: 16px;
  font-weight: 800;
}

.ang-min-text2 {
  font-family: var(--font-family-montserrat);
  color: #111111;
  line-height: 18px;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 400;
  color: #111111;
  opacity: 0.6;
}

@media only screen and (max-width: 700px) {
  .empty {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .empty {
    display: none;
  }
  .ang-sec2-text2 {
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  .ang-sec2-row {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-inline: 0.5rem;
  }

  .ang-sec2-img {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}
