.agn-sec3-con {
  display: flex;
  margin-top: 7rem;
  margin-inline: 1rem;
}

.ang-main {
  display: flex;
}

.ang-sec3-info {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.ang-sec3-wrap {
  display: flex;
  margin-right: 5rem;
  flex-direction: column;
}
.ang-sec3-img {
  display: flex;
  align-items: center;
  justify-self: flex-start;
}

.ang-image-3 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .agn-sec3-con {
    margin-top: 2rem;
  }
  .ang-sec3-info {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 2rem !important;
  }
  .ang-sec3-wrap {
    margin-right: 0;
  }

  .ang-sec3-info {
    order: 2;
    margin-top: 1rem !important;
  }

  .ang-sec3-img {
    display: flex;
    order: 1;
    justify-content: center !important;
    align-items: center !important;
  }
}
